<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:useApplicationInsights="http://www.sitecore.net/xmlconfig/useApplicationInsights/">
  <sitecore useApplicationInsights:require="!false">
    <pipelines>
      <initialize>
        <!-- Replacing the AppInsightsInitializer to be able to use region specific endpoints! Underneath it uses a Connection string that eases privacy concerns by sending data to regional endpoints, ensuring data doesn't leave a geographic region. -->
        <processor type="AlexVanWolferen.SitecoreApplicationInsights.TelemetryInitializers.AppInsightsInitializer, AlexVanWolferen.SitecoreApplicationInsights" 
                   patch:replace="processor[@type='Sitecore.Cloud.ApplicationInsights.TelemetryInitializers.AppInsightsInitializer, Sitecore.Cloud.ApplicationInsights']" />

        <!-- Makes the quickpulse module use the secure control channel -->        
        <processor type="AlexVanWolferen.SitecoreApplicationInsights.TelemetryModules.QuickPulseTelemetryModule, AlexVanWolferen.SitecoreApplicationInsights" 
                   patch:after="processor[@type='AlexVanWolferen.SitecoreApplicationInsights.TelemetryInitializers.AppInsightsInitializer, AlexVanWolferen.SitecoreApplicationInsights']" />

      </initialize>
    </pipelines>
    <settings>
      <!-- Regional ingestion endpoints. Find your endpoints in the Azure Portal at your Application Insights -> Configure -> Properties
           Regions that require custom endpoint can be found at https://docs.microsoft.com/en-us/azure/azure-monitor/app/custom-endpoints?tabs=net#regions-that-require-endpoint-modification
           Using a regional endpoint also ensures that data doesn't leave a geographic region.
           Defaults when these settings are not set are the global endpoints.
            ingestionEndpoint : https://dc.applicationinsights.azure.com
            liveEndpoint      : https://live.applicationinsights.azure.com
      -->
      <setting name="appinsights.ingestionEndpoint" value="https://westeurope-5.in.applicationinsights.azure.com" />
      <setting name="appinsights.liveEndpoint" value="https://westeurope.livediagnostics.monitor.azure.com" />
    </settings>
  </sitecore>
</configuration>